body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f4f7f6;
}

h1, h2 {
  color: black;
  border-bottom: 2px solid darkslategray;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

hr {
  border-bottom: 1px solid darkslategray;
}

div {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
}
button[type="submit"] {
  margin-left: 10px;
}


